*.class
.metadata
.gradle
bin/
target/
build/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.DS_Store
BACKUP*
DRLK*

#gemfire artifacts
server1/
*.log
*.zip
*.tgz
*.dat
BACKUP*
DRLK*


# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# gemfire notes
vf*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gemfire artifacts
grid/locator1/*.zip
grid/locator1/*.log
grid/locator1/*.dat
grid/locator1/Gem*
grid/locator1/cluster_config/cluster/*.jar
grid/locator1/ConfigDiskDir_locator1/
grid/server*

databrowser/grid/locator1/
databrowser/grid/serverx/

# IntelliJ IDEA
.idea/
*.iml

# SpringXD
spring-shell.log
 
ci/pipeline-vars.yml
